<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


  </head>
  <body class="bg-secondary">

	<nav class="navbar navbar-expand-lg border-bottom border-dark-subtle" style="background-color: #6c757d !important;">	
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#"></a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
	        <li class="nav-item">
	          <a class="nav-link active text-decoration-underline" aria-current="page" href="/task/list">Task</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-decoration-underline" href="#">Manual</a>
	      </ul>
	    </div>
	  </div>
	</nav>
	

    <div class="container">
        <div class=" text-center " style="margin-top:7rem;">
			<p class="fw-light text-white fs-1 ">Task List</p>
              <div class="d-flex justify-content-center gap-1 mb-1">
                <a type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-2" th:href="@{/task/add}">Create</a>
				<a type="button" class="btn btn-outline-dark btn-lg px-3 " th:href="@{/donetask/list}">Done Task</a>

        </div>

        <div class="px-4 pt-2 my-2 text-center " style="width: auto;">
			<div class="table-responsive">
            <table class="table table-hover table-secondary align-middle">
				<thead class="table table-dark">
                  <tr>
                    <th scope="col" style="width: 10%; color:text-light;" >
                      <a class="text-white" th:href="@{/task/list(sortColumn='title', sortOrder=${sortOrder == 'ASC' ? 'DESC' : 'ASC'})}">
                        Title <span th:text="${sortColumn == 'title' ? (sortOrder == 'ASC' ? '▲' : '▼') : ''}"></span>
                      </a>
                    </th>
                    <th scope="col">
                      <a class="text-white" th:href="@{/task/list(sortColumn='description', sortOrder=${sortOrder == 'ASC' ? 'DESC' : 'ASC'})}">
                        Description <span th:text="${sortColumn == 'description' ? (sortOrder == 'ASC' ? '▲' : '▼') : ''}"></span>
                      </a>
                    </th>
                    <th scope="col">
                      <a class="text-white" th:href="@{/task/list(sortColumn='deadline', sortOrder=${sortOrder == 'ASC' ? 'DESC' : 'ASC'})}">
                        Deadline <span th:text="${sortColumn == 'deadline' ? (sortOrder == 'ASC' ? '▲' : '▼') : ''}"></span>
                      </a>
                    </th>
                    <th scope="col"style="width: 8%;">
                      <a class="text-white" th:href="@{/task/list(sortColumn='priority', sortOrder=${sortOrder == 'ASC' ? 'DESC' : 'ASC'})}">
                        Priority<span th:text="${sortColumn == 'priority' ? (sortOrder == 'ASC' ? '▲' : '▼') : ''}"></span>
                      </a>
                    </th>
                    <th scope="col"style="width: 8%;">
                      <a class="text-white" th:href="@{/task/list(sortColumn='status', sortOrder=${sortOrder == 'ASC' ? 'DESC' : 'ASC'})}">
                        Status <span th:text="${sortColumn == 'status' ? (sortOrder == 'ASC' ? '▲' : '▼') : ''}"></span>
                      </a>
                    </th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="taskList : ${taskList}" th:object="${taskList}">
                    <td th:text="*{title}">Title</td>
                    <td th:text="*{description}">Description</td>
                    <td th:text="${#temporals.format(taskList.deadline, 'yyyy/MM/dd HH:mm')}">Formatted Deadline</td>
                    <td th:text="*{priority != null ? (priority == 1 ? '最優先' : priority == 2 ? '中優先' : '低優先') : '未設定'}">Priority</td>
                    <td th:text="*{status == 1 ? '未着手' : status == 2 ? '作業中' : '完了'}">Status</td>
					<td>
					  <div class="d-flex gap-2">
					    <a class="btn  btn-outline-dark" th:href="@{/task/edit(taskId=${taskList.taskId})}" >Edit</a>
					    <a class="btn  btn-outline-dark" th:href="@{/task/delete(taskId=${taskList.taskId})}" >Delete</a>
					  </div>
					</td>
                  </tr>
                </tbody>
              </table>
			  </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
