<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DoneTaskMapper">

    <!-- 完了済みタスクの一覧取得 -->
    <select id="findAllSortedDonetask" resultType="com.example.demo.entity.DoneTask">
        SELECT * FROM donetask 
        ORDER BY ${sortColumn} ${sortOrder}
    </select>

    <!-- 完了済みタスクを未完了に戻す -->
    <insert id="restoreToTask">
        INSERT INTO task (title, description, deadline, priority, status, created_at, updated_at, deleteFlg)
        SELECT title, description, deadline, priority, 1, createdAt, CURRENT_TIMESTAMP, 09
        FROM donetask WHERE taskId = #{taskId};
        
        DELETE FROM donetask WHERE taskId = #{taskId};
    </insert>

</mapper>