<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TaskMapper">

    <!-- タスクの全件取得 -->
    <select id="findAllSorted" resultType="com.example.demo.entity.Task">
    SELECT * FROM task 
    WHERE deleteFlg = 0 
    ORDER BY ${sortColumn} ${sortOrder}
	  </select>


    <!-- 新規タスクの登録 -->
    <insert id="save">
        INSERT INTO task
            (title, description, deadline, priority, status, created_at, updated_at, deleteFlg)
        VALUES
            (#{title}, #{description}, #{deadline}, #{priority}, 1, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 0);
    </insert>

    <!-- タスクIDを指定してタスクを取得 -->
    <select id="getTask" resultType="com.example.demo.entity.Task">
        SELECT * FROM task WHERE taskId = #{taskId} AND deleteFlg = 0;
    </select>

    <!-- タスクの削除 -->
    <delete id="delete">
        DELETE FROM task WHERE taskId = #{taskId} AND deleteFlg = 0;
    </delete>

    <!-- タスクの更新 -->
    <update id="update" parameterType="com.example.demo.entity.Task">
        UPDATE task 
        SET title = #{title}, 
            description = #{description}, 
            deadline = #{deadline}, 
            priority = #{priority}, 
            status = #{status}, 
            updated_at = CURRENT_TIMESTAMP 
        WHERE taskId = #{taskId} 
        AND updated_at = #{updatedAt};
    </update>
    
    
        <!-- 完了したタスクを完了済タスクへ移動 -->
    <insert id="insertToDoneTask">
    	INSERT INTO donetask (title, description, deadline, priority, status, created_at, updated_at, deleteFlg)
        SELECT title, description, deadline, priority, 1, createdAt, CURRENT_TIMESTAMP, 09
        FROM task WHERE taskId = #{taskId};
    </insert>

</mapper>